<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin1.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/css/font.css">
    <link rel="stylesheet" href="static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script type="text/javascript" src="static/js/echarts.js"></script>
    <script src="static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/js/xadmin.js"></script>
</head>
<style>
	.layui-input, .layui-textarea {
    display: inline;
    width: 15%;
    padding-left: 10px;
    
	}
	.layui-form-select {
    position: relative;
    width: 700px;
	}
	
	.layui-form-select .layui-edge {
    position: absolute;
    right: 495px;
    top: 50%;
    margin-top: 14px;
    cursor: pointer;
    border-width: 6px;
    border-top-color: #ffffff;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;
}
	.layui-select-title{
		float: left;
	}
	
	.layui-form-select .layui-input {
    padding-right: 30px;
    cursor: pointer;
    width: 100px;
}

/*.layui-form-select dl dt, .layui-form-select dl dd {
    padding: 0 10px;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}*/

</style>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">X-ADMIN V1.1</a></div>
        <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="">个人信息</a></dd>
              <dd><a href="">切换帐号</a></dd>
              <dd><a href="./login.html">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="/">前台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <div class="left-nav">
          <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="./index.html">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        客户管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu ">
                        <li >
                            <a href="member-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                客户列表
                            </a>
                        </li>
                        <li>
                            <a href="member-del.html">
                                <i class="iconfont">&#xe6a7;</i>
                                客户删除
                            </a>
                        </li>
                        <li>
                            <a href="member-level.html">
                                <i class="iconfont">&#xe6a7;</i>
                                活动推荐
                            </a>
                        </li>
                        <li>
                            <a href="member-kiss.html">
                                <i class="iconfont">&#xe6a7;</i>
                               活动通知
                            </a>
                        </li>
                        <li>
                            <a href="member-view.html">
                                <i class="iconfont">&#xe6a7;</i>
                               客户资源管理
                            </a>
                        </li>
                        <li>
                            <a href="member-feedback.html">
                                <i class="iconfont">&#xe6a7;</i>
                                  客户反馈
                            </a>
                        </li> 
                                                                                            <li>
                            <a href="member-usergroup.html">
                                <i class="iconfont">&#xe6a7;</i>
                                  客户组
                            </a>
                        </li>  
                    </ul>
                </li>
                <li class="list" >
                       <a href="javascript:;">
                        <i class="iconfont">&#xe6b2;</i>
                       员工管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" >
                          <li>
                            <a href="member-employee.html">
                                <i class="iconfont">&#xe6a7;</i>
                                员工信息
                            </a>
                        </li>
                        
                         <li >
                            <a href="member-organization.html">
                                <i class="iconfont">&#xe6a7;</i>
                                组织机构
                            </a>
                        </li> 
                        
                                 <li>
                            <a href="member-employee-kiss.html">
                                <i class="iconfont">&#xe6a7;</i>
                                工作通知
                            </a>
                        </li> 
                        </li>
                    </ul>
                </li>
                <li class="list " >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe705;</i>
                        项目管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                             <li>
                            <a href="member-project.html">
                                <i class="iconfont">&#xe6a7;</i>
                                项目信息
                            </a>
                        </li>
                        
          
                        
                                     <li>
                            <a href="member-project-feedback.html">
                                <i class="iconfont">&#xe6a7;</i>
                                项目反馈
                            </a>
                        </li>
      
                                                   <li>
                            <a href="member-project-comment.html">
                                <i class="iconfont">&#xe6a7;</i>
                                项目评论
                            </a>
                        </li>
                        
                                                      <li>
                            <a href="member-project-ranking.html">
                                <i class="iconfont">&#xe6a7;</i>
                                项目排名
                            </a>
                        </li>
                        
    
                    </ul>
                </li>
                
                <li class="list" >
                  <a href="javascript:;">
                        <i class="layui-icon">&#xe62e;</i>
                        活动管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="manage-activity.html">
                                <i class="iconfont">&#xe6a7;</i>
                                活动信息
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="list" >
                  <a href="javascript:;">
                        <i class="layui-icon">&#xe600;</i>
                        订单管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="manage-order.html">
                                <i class="iconfont">&#xe6a7;</i>
                                订单信息
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="list" >
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe62c;</i>
                        系统统计
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu opened">
                        <li>
                            <a href="./echarts1.html">
                                <i class="iconfont">&#xe6a7;</i>
                                项目人气
                            </a>
                        </li>
                        <li>
                            <a href="./echarts2.html">
                                <i class="iconfont">&#xe6a7;</i>
                                每月收入
                            </a>
                        </li>
                        <li>
                            <a href="./echarts3.html">
                                <i class="iconfont">&#xe6a7;</i>
                                人气教官
                            </a>
                        </li>
                        <li>
                            <a href="./echarts4.html">
                                <i class="iconfont">&#xe6a7;</i>
                                人气活动
                            </a>
                        </li>
                        <li>
                            <a href="./echarts5.html">
                                <i class="iconfont">&#xe6a7;</i>
                                每月客户
                            </a>
                        </li>
                        <li>
                            <a href="./echarts6.html">
                                <i class="iconfont">&#xe6a7;</i>
                                员工考勤数据
                            </a>
                        </li>
                        <li class="current">
                            <a href="./echarts7.html">
                                <i class="iconfont">&#xe6a7;</i>
                                问卷调查
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list">
                  <a href="javascript:;">
                        <i class="layui-icon">&#xe614;</i>
                        系统管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="manage-user.html">
                                <i class="iconfont">&#xe6a7;</i>
                                用户管理
                            </a>
                        </li>
                        
               
                        
                                     <li>
                            <a href="manage-plate.html">
                                <i class="iconfont">&#xe6a7;</i>
                                模块管理
                            </a>
                        </li>
                                                              <li>
                            <a href="manage-role.html">
                                <i class="iconfont">&#xe6a7;</i>
                                角色管理
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
          </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <blockquote class="layui-elem-quote">
                调查问卷统计 ———— 射击
            </blockquote>
            <div class="">
                <form class="layui-form" method="get" action="">
                	<label class="layui-form-label">项目名称:</label>
                	<select class="layui-select" style="width: 50px;">
                		<option>请选择</option>
                		<option>射击</option>
                		<option>挖矿</option>
                		<option>采药</option>
                		<option>种地</option>
                	</select>
                	<input class="layui-btn" type="submit" value="查找" style="margin-left: 30px;"/>
                </form>
            </div>
            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
            <div id="main" style="width: 100%;height:400px;"></div>
            <blockquote class="layui-elem-quote">
                <table class="layui-table" >
  					<thead>
  						<th></th>
  						<th>选择人数</th>
  						<th>百分比</th>
  					</thead>
  					<tbody>
  						<td>很好玩，会推荐给朋友</td>
  						<td>7352</td>
  						<td>30%</td>
  					</tbody>
  					<tbody>
  						<td>emmm，还行</td>
  						<td>7352</td>
  						<td>30%</td>
  					</tbody>
  					<tbody>
  						<td>一般</td>
  						<td>7352</td>
  						<td>30%</td>
  					</tbody>
  					<tbody>
  						<td>我觉得不行</td>
  						<td>7352</td>
  						<td>30%</td>
  					</tbody>
  					<tbody>
  						<td>什么鬼，这就是***</td>
  						<td>7352</td>
  						<td>30%</td>
  					</tbody>
				</table>
            </blockquote>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2019 研学旅行管理系统</div>  
    </div>
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
    <div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" src="./images/a.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/b.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/c.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/d.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/e.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/f.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/g.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/h.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/i.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/j.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" src="./images/k.jpg" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>   
    </div>
    <!-- 背景切换结束 -->
        
        <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/echarts-for-x-admin.js"></script>

        <script type="text/javascript">
        var dom = document.getElementById("main");
var myChart = echarts.init(dom);
var app = {};
option = null;
app.title = '坐标轴刻度与标签对齐';

option = {
    color: ['#3398DB'],
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            data : ['很好玩，会推荐给朋友', 'emmm，还行', '一般', '我觉得不行', '什么鬼，这就是***'],
            axisTick: {
                alignWithLabel: true
            }
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'直接访问',
            type:'bar',
            barWidth: '60%',
            data:[100, 521, 200, 334, 390]
        }
    ]
};
;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
        </script>
</body>
</html>