<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin1.1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="static/css/font.css">
	<link rel="stylesheet" href="static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="static/js/xadmin.js"></script>

</head>
<body>
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            	
            <table class="layui-table">
                <thead>
                    <tr>
                       
            
                        <th>
                            项目排名
                        </th>
                        <th>
                            项目名称
                        </th>
                       <th>
                            具体活动
                        </th>
         
                        
                                                     <th>
                           最受欢迎人群年龄
                        </th>
                        
                                                                     <th>
                           最受欢迎人群性别
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      
                        <td>
                            1
                        </td>
                        <td>
                       知识海洋  
                        </td>
                        <td >
                            知识竞猜，知识抢答
                        </td>
                      
                        
              
                        
                                         <td >
                            18
                        </td>
                        
                                           <td >
                            男
                        </td>
                    </tr>
                    
                          <tr>
                      
                        <td>
                           2
                        </td>
                        <td>
                        体育健将 
                        </td>
                        <td >
                            篮球赛,足球赛,羽毛球赛,美食家
                        </td>
                        
                        
            
                                         <td >
                            25
                        </td>
                        
                        <td>女</td>
                    </tr>
                </tbody>
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>